.input {
  font-family: inherit;
  font-weight: 400;
  font-size: 20px;

  line-height: 24px;
  text-align: center;

  width: 100%;
  max-width: 580px;
  height: 75px;

  border-radius: 15px;
  border: none;

  margin: 10px 0;
}

.button {
  font-family: inherit;

  background-color: #D11C23;

  border-radius: 15px;
  color: #fff;
  border: none;

  width: 100%;
  max-width: 580px;
  height: 75px;
}