body {
  font-family: 'Barlow', sans-serif;

  background: linear-gradient(270deg, #1e1e1e 74%, #d11c2333 100%), linear-gradient(55deg, #1e1e1e 68%, #D11C23 100%);
  color: #fff;
}

.title {
  font-weight: 800;
  font-size: 32px;
  line-height: 43px;

  text-align: center
}


.title.emphasis {
  color: #D11C23;
}

.text {
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;

  text-align: center;
}

.small {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #cccccc;
}

.input {
  font-family: inherit;
  font-weight: 400;
  font-size: 20px;

  line-height: 24px;
  text-align: center;

  width: 100%;
  max-width: 580px;
  height: 75px;

  border-radius: 15px;
  border: none;

  margin: 10px 0;
}

.button {
  font-family: inherit;

  background-color: #D11C23;

  border-radius: 15px;
  color: #fff;
  border: none;

  font-size: 26px;

  width: 100%;
  max-width: 580px;
  height: 75px;
}